.exercise-option-selector {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .exercise-option {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: #199db1;
    }

    &.selected {
      border-color: #14555f;
      background-color: #e6f7fb;
    }

    .exercise-image {
      width: 50px;
      height: auto;
      margin-bottom: 10px;
    }

    .exercise-label {
      font-size: 18px;
      color: #007b8f;
      margin-bottom: 5px;
    }

    .exercise-description {
      font-size: 14px;
      color: #666;
    }
  }
}
