.exercise-option-selector {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0px auto;
  .exercise-option {
    border: 2px solid #354f7579;
    background-color: #354f7579;
    border-radius: 8px;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    max-width: 200px;
    height: 140px;
    &.genderQ {
      height: auto;
    }
    &:hover {
      border-color: #13366b9a;
      background-color: #13366b9a;
      .exercise-label {
        color: #fcfdffce;
      }
    }

    &.selected {
      border-color: #13366b9a;
      background-color: #13366b9a;
      .exercise-label {
        color: #fcfdffce;
      }
    }

    .exercise-image {
      width: 50px;
      height: auto;
      margin-bottom: 10px;
    }

    .exercise-label {
      font-size: 18px;
      color: #354f7579;
      margin-bottom: 5px;
    }

    .exercise-description {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.651);
    }
  }
}
