.exercise-option-selector {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
  .exercise-option {
    border: 2px solid #68358a;
    background-color: #a994b7;
    border-radius: 8px;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    max-width: 200px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    position: relative;
    white-space: break-spaces;
    &.genderQ {
      height: auto;
    }
    &:hover {
      border-color: #60486f;
      background-color: #60486f;
      .exercise-label {
        color: #fcfdffce;
      }
    }

    &.selected {
      border-color: #60486f;
      background-color: #60486f;
      .exercise-label {
        color: #fcfdffce;
      }
    }

    .exercise-image {
      width: 90px;
      height: auto;
      margin-bottom: 5px;
      margin-top: 0px !important;
    }

    .exercise-label {
      font-size: 18px;
      color: #ffffff79;
      margin-bottom: 0px;
      margin-top: 3px !important;
    }

    .exercise-description {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.651);
      margin-top: 2px !important;
    }
    .recommended {
      width: 93%;
      background-color: #13366b9a;
      color: white;
      padding: 10px;
      position: absolute;
      bottom: 3px;
    }
  }
}
